.toggle-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    border: none;
    gap: 8px;
    cursor: pointer;
    margin: 29px 80px 29px 0;

    .icon{
        width: 20px;
        height: 20px;
    }

}